.auth {
    background-color: #fff;
    min-height: calc(100vh);
    @apply grid grid-cols-1 items-center mt-[-50px];
    @screen lg {
        @apply grid-cols-2;
    }
    &__image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background-color: var(--color-gray);
        margin: auto;
        @apply flex items-center justify-center;
        // position: relative;
        .img-photo {
            width: 35px;
            height: 35px;
            border: 2px solid #fff;
            bottom: -8px;
            right: 0;
            background-color: var(--color-gray);
            @apply flex items-center justify-center;
            position: absolute;
            border-radius: 50%;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__form-container {
        @apply container;
        @screen lg {
            max-width: 400px;
            width: 100%;
            margin: auto;
        }
    }
    &__head {
        text-align: center;
        @apply mb-[40px] text-center flex items-center justify-center gap-[20px] flex-col;
        // text-align: center;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        // gap: 20px;
    }
    &__link {
        text-align: right;
        display: block;
        margin-bottom: 20px;
    }
    &__link-bottom {
        @apply text-center mt-[20px];
        &__redirect {
            position: relative;
            color: var(--color-primary);
            @apply text-base;
            &::after {
                content: '';
                transition: all 0.1s ease-in;
                width: 100%;
                border: 0.5px solid;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scale(0);
            }
            &:hover {
                &::after {
                    transform: scale(1);
                }
            }
        }
    }
    &__bg {
        display: none;
        background-color: var(--color-gray);
        max-width: 100%;
        height: 100%;
        @screen lg {
            @apply inline-block;
        }
        position: relative;
        img {
            max-width: 100%;
            height: 100vh;
            object-fit: cover;
            width: 100%;
            position: fixed;
            top: 0;
        }
    }
}
